<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="viewmain">
  <table>
    <tr>
      <th>제목</th>
      <td>
        <strong th:if="${notice.grade == 1}" th:text="${notice.title}"></strong>
        <span th:if="${notice.grade != 1}" th:text="${notice.title}"></span>
      </td>
    </tr>
    <tr>
      <th>작성자</th>
      <td>
        <img style="width:20px; height:20px;"
                                        th:src="@{iconimg(userid=${notice.member.userid})}"
                                        alt="사용자 아이콘">
        <span th:text="${notice.nick}"></span>
      </td>
    </tr>
    <tr>
      <th>내용</th>
      <td style="width:200px;height:300px" th:text="${notice.content}">
      </td>
    </tr>
    <tr>
      <th>첨부파일</th>
      <td>
        <table>
          <tr th:each="file : ${file}" th:if="${file} !=null">
            <td>
              <a th:href="@{/download(idx=${file.idx})}" th:download="${file.ofile}"><span th:text="${file.ofile}"></span></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>작성날짜</td>
      <td th:text="${notice.regdate}"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center">
        <button th:if="${notice.member.userid == session.userid}" th:onclick="|location.href='@{/noticemodify(idx=${notice.idx})}'|">수정</button>
        <button th:if="${notice.member.userid == session.userid || session.grade == 1}" th:onclick="|location.href='@{/noticedelete(idx=${notice.idx})}'|">삭제</button>
        <button class="returnbtn">돌아가기</button>
      </td>
    </tr>
  </table>
  <div>
    <input type="hidden" class="userid" th:value="${session.userid}">
    <input type="hidden" class="nick" th:value="${session.nick}">
    <input type="hidden" class="noticeidx" th:value="${notice.idx}">
    <div class="comment">
      <div th:each="comment : ${comment}" th:id="${comment.idx}">
          <img style="width:20px; height:20px;"
               th:src="@{iconimg(userid=${comment.userid})}"
               alt="사용자 아이콘">
          <span th:text="${comment.nick}"></span>
          |
          <span th:text="${comment.content}" ></span>
          |
          <span th:text="${comment.regdate}"></span>
          <button class="commentmodify" th:if="${comment.userid == session.userid}" th:data-idx="${comment.idx}" th:data-content="${comment.content}">수정</button>
          <button class="commentdelete" th:if="${comment.userid == session.userid || session.grade == 1}" th:data-idx="${comment.idx}">삭제</button>
      </div>
    </div>
    <div th:if="${session.userid != null}">
      <input type="text" class="commentadd">
      <button type="button" class="commentaddbtn">등록</button>
    </div>
  </div>
</div>
</body>
</html>